* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* header background css start */
.header_bg {
    background-image: url(../img/image.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
}

/* header content css */
.header_text {
    width: 400px;
    height: 550px;
    padding-top: 150px;
    text-align: left;
    padding-left: 170px;

}

.header_text p {
    color: rgb(61, 60, 60);
}

.header_text h1 {
    font-weight: 700;
    font-size: 3em;
    padding-bottom: 20px;
}

/* header button css start here  */
.header_btn {
    margin-top: 20px;
    width: 160px;
    height: 64px;
    background-color: #F15B22;
    border: 0;
    color: #fff;
    font-weight: 500;
    font-size: 1.2em;
    border-radius: 6px;
}

/* failur part start */
.failur {
    padding-top: 125px;
    display: flex;
    justify-content: space-around;
    gap: 100px;
    align-items: center;
}

.failur_img img {
    width: 450px;
    padding-left: 80px;
}

.failur_text {
    padding-right: 80px;
    padding-top: 100px;
}

.failur_text h1 {
    font-weight: 700;
    font-size: 3.5em;
    color: #292424;
    padding-bottom: 25px;
}

.failur_text p {
    font-weight: 600;
    font-size: 20px;
    color: #292424;
    padding-bottom: 25px;
}

.failur_text li {
    list-style: none;
    font-size: 1.2em;
}

.failur_text li i {
    color: #16D887;
}

/* plan part start  */
.plan {
    margin-top: 125px;
}

.plan_card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    padding-left: 80px;
    padding-right: 80px;
}

.plan_title h1 {
    font-size: 2.6em;
    text-align: center;
    margin-bottom: 80px;
    text-align: center;
}

.plan_content p {
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 15px;
}

/* plan card part start */
.plan_content img {
    width: 80px;
    margin-bottom: 10px;
}

.plan_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 130px;
}

/* plan card part end */
/* mind set part start here */
.mindset_img {
    background-image: url(../img/watch.png);
    width: 720px;
    height: 250px;
    margin-left: 300px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.mind_btn {
    width: 160px;
    height: 64px;
    margin-top: 20px;
    background: #fff;
    border: 0;
    border-radius: 5px;
    color: #F15B22;
    font-weight: 600;
    font-size: 1em;

}

/* color overlay */
.mind_content {
    z-index: 1;
    width: 350px;
    margin-left: 15px;
    margin-top: 15px;
}

.mind_content h1 {
    color: #fff;
    font-size: 2.6em;
}

.mindset {
    width: 720px;
    height: 250px;
    padding-bottom: 130px;
}

.mindset .color_overlay {
    width: 720px;
    height: 250px;
    background: linear-gradient(90deg, #d42d49c9 0%, rgba(241, 91, 34, 0) 100%);
    opacity: 1;
    position: absolute;
    border-radius: 8px;
}
/* footer part start */
.footer
{
    height: 500px;
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    gap: 250px;
    padding-top: 100px;
}
/* footer part */
.footer_text
{
    color: #fff;
    height: 200px;
    width: 400px;
    padding-left: 100px;
}
.footer_text h1
{
    padding-bottom: 10px;
    font-size: 3.5em;
}
.footer_text p
{
    margin-top: 15px;
}
/* subscribe us part */
.subscribe
{
    padding-right: 100px;
    color: #fff;
    font-size: 2em;
}
/* social image part */
.social_img img
{
    width: 60px;
    padding-left: 10px;
    margin-top: 18px;
}